{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "printWidth": 100,
    "arrowParens": "always",
    "jsxSingleQuote": true,
    "importOrder": ["^react", "^[a-z]", "^@/", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "bracketSpacing": true,
    "bracketSameLine": true,
    "arrowFunctionParentheses": "avoid"
}
